<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Credit Card Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<%- include('../partials/sideMenu') %>
<body>
    <div class="container">
        <h1>Add Credit Card Details</h1>
        <form id="credit-card-form" action="/dashboard/add_credit_card" method="POST">
            <div class="form-group">
                <label for="cardNumber">Card Number:</label>
                <input type="text" id="cardNumber" name="cardNumber" required>
            </div>
            <div class="form-group">
                <label for="cardHolderName">Cardholder Name:</label>
                <input type="text" id="cardHolderName" name="cardHolderName" required>
            </div>
            <div class="form-group">
                <label for="cardType">Card Type:</label>
                <select id="cardType" name="cardType" required>
                    <option value="Visa">Visa</option>
                    <option value="Mastercard">Mastercard</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cardCVV">Card CVV:</label>
                <input type="number" id="cardCVV" name="cardCVV" required>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    
</body>
</html>
